body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
    
}

.header {
    display: flex;

    background-color: #1F2937;
    height: 600px;
    width:100%;
    margin:0;
    padding:0;
    align-content: space-between;
    flex-direction: column;
    
}

.awesome
{
    display:flex;
    font-size: 48px;
    color:#F9FAF8; 
    flex-direction: column;
    margin-left:400px; 
    margin-top:150px;
    font-weight: bolder;
}

.logolinks

{
    display:flex;
    flex-direction: row;
    margin-left:400px;
     
}


.logo {
    /* Add styles as needed */
    font-size:24px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: auto;
    margin-top:20px;
    margin-right:500px;
    
    
}


.links {
    display: flex;
    gap:25px;
    vertical-align: center;
    color: #E5E7EB;
    font-size:18px;
    margin-bottom: auto;
    margin-top:20px;
}

.sub
{   DISPLAY:flex;
    font-size: 18px;
    color:#E5E7EB;
    margin-left:400px;
}
